{% extends 'myapp/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нашей компании</h1>
<div class="row mt-4">
    <div class="col-md-6">
        <h2>Наша история</h2>
        <p>Fox&Dogs – груминг с любовью!

Всего 2 года назад мы открыли двери нашего уютного салона, мечтая создавать красоту и комфорт для питомцев. Сегодня Fox&Dogs – это место, куда хвостики бегут с радостью, а их хозяева доверяют нам самое ценное.

Благодаря индивидуальному подходу, качественным средствам и трепетному отношению, мы заслужили любовь более 500 пушистых клиентов. Каждый день – это новые улыбки, мокрые носы и благодарные взгляды.

Мы не просто стрижём – мы делаем питомцев счастливее! ❤️🐾 <br>

Ваша команда Fox&Dogs.</p>
    </div>
    <div class="col-md-6">
        <h2>Наша команда</h2>
        <p>Евгения – мастер с 5-летним опытом, специалист по креативным стрижкам и породистым собакам.<br>

Ксения – виртуоз гигиенического груминга, находит подход даже к самым капризным котикам.<br>

Анна – эксперт по SPA-уходу, создаёт роскошные образы и нежные арома-процедуры.<br>

Надя – юный талант с золотыми руками, обожает декоративные стразы и бантики.<br>

Каждая – профессионал и искренний друг ваших питомцев! 🐶❤️🐱.</p>
    </div>
</div>
{% endblock %}