{% extends 'myapp/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p class="lead">Fox&Dogs – где хвосты виляют от счастья! Ваш пес мечтает о новой прическе?<br>Кот требует королевского ухода? У нас есть решение:<br>
Стрижки «под льва» или «как у Чебурашки»;<br>
Ароматные ванны с запахом ванили или моря;<br>
Безопасный маникюр (чтобы царапки не цеплялись за диван!).</p>
        <a href="{% url 'about' %}" class="btn btn-primary">Узнать больше</a>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Новости</h5>
                <p class="card-text">До 25 апреля действует скидка 25% для новых питомцев. Успейти воспользоваться щедрым предложением.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}